@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
  content: "" !important;
}
.ant-carousel .slick-dots-bottom {
  bottom: 23px !important;
}
.ant-carousel .slick-dots li button {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}
.ant-carousel .slick-dots li {
  width: 27px !important;
}
.slick-list {
  padding: 15px 60px;
}
