@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
  content: "" !important;
}
.ant-carousel .slick-dots-bottom {
  bottom: 23px;
}
.ant-carousel .slick-dots li button {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
}
